<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo 1: usando métodos VueJS</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h2 v-if="logado">Usuário logado {{nome}}</h2>
        <p v-if="!logado">Nenhum usuário logado</p>
        <button @click="logado = !logado" type="button">{{logado ? "Sair" : "Entrar"}}</button>
    </div>
</body>
<script>
    //objeto controlador, intermedia o que será exibido na página
    new Vue({
        el: '#app',
        data: {
            nome: "Erick",
            logado: false
        }
    });
</script>
</html>