<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo 23: estilos dinamicos direto na tag</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .caixas{
            display: flex;
            justify-content:space-between;
        }
        .demo{
            width: 100px;
            height: 100px;
            background-color: gray;

        }
        .c1{background-color: red;}
        .c2{background-color: blue;}
        .c3{background-color: green;}
        .girar{
            transform: rotate(45deg);
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="caixas">
            <div class="demo" :style="{'backgroundColor':cor}"></div>
            <div class="demo" :style="estiloPelicula"></div>
            <div class="demo"></div>
        </div>
        <hr>
    <input type="text" v-model="cor">
    <input type="range" v-model="largura" step="0.01">
    <input type="range" v-model="altura" step="0.01">
    <input type="range" v-model="arredondamento" step="0.01">

    </div>
    
</body>
<script>
    //objeto controlador, intermedia o que será exibido na página
    new Vue({
        el: '#app',
        data: {
            cor: "red",
            largura: 7,
            altura: 12,
            arredondamento: 5,
        },
        computed:{
            estiloPelicula(){
                return {
                    backgroundColor: this.cor,
                    width: this.largura+"mm",
                    height: this.altura+"mm",
                    borderRadius: this.arredondamento+"mm"
                }
            }
        }
    });
</script>
</html>